a {
	text-decoration: none;
}

.animateMe ul, .animateMe .ui-collapsible-content {
	padding: 0;
}

.color {
	text-shadow: none;
	font-weight: bold;
	padding: 1px;
	list-style-type: none;
	text-align: center;
}

.fechar .ui-btn-icon-left:after {
	display: none;
}

.ui-page-theme-a {
	background-color: #fff;
}

.imgs {
	margin: 20px 0;
	padding-top: 10px;
}

.imgs, .imgs .ui-bar.ui-bar-a {
	background-color: #f5f5f5;
}

.imgs .ui-bar.ui-bar-a {
	border: none;
}

.imgs div {
	padding: 0;
}

.imgs .ui-block-a {
	padding-right: 5px;
}

.imgs .ui-block-b {
	padding-left: 5px;
}

.imgs img {
	max-width: 100%;
	padding: 0;
}

.imgs p {
	font-weight: normal;
	margin: 0;
}

.imgs ul {
	margin: 0;
	padding-left: 20px;
    font-weight: normal;
}

.legenda {
	padding: 5px;
}

.ce {
	color: #fff;
	text-shadow: none;
	margin: 0;
	font-size: smaller;
	text-align: center;
}

.certo {
	background-color: #4CAF50;
}

.errado {
	background-color: #D32F2F;
}

#usabilidade .ui-block-a {
	text-align: center;
}

#usabilidade .ui-bar {
	text-align: left;
}

.titulo {
	font-weight: bold!important;
	font-size: larger;
	text-align: center;
}

.blur {
	text-align: center;
	color: #000;
	padding: 10px;
}

.ui-header {
	background: #5DDAAC; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#5DDAAC, #5FE6A1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#5DDAAC, #5FE6A1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#5DDAAC, #5FE6A1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#5DDAAC, #5FE6A1); /* Standard syntax */
	text-align: center;
}

.ui-title {
	color: #fff;
	text-shadow: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0!important;
}

.ui-link.ui-btn.ui-tabs-anchor {
	font-size: 16px;	
	padding-top: 16px;
}

.ui-btn-active.ui-link.ui-btn.ui-tabs-anchor {
	background-color: #744EAA;
	border-color: #744EAA;
	text-shadow: none;
}

.ui-navbar * {
	height: 50px;
}

.ui-footer {
	text-align: center;
}

.thumb {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}

.thumb {
	padding: 0;
}

.thumb > span {
	width: 70%;
	color: #616161;
}

.thumb > img {
	height: 60px;
}

#pagexercicios .ce, #pagexercicios .legenda, .ultimatentativa {
	visibility: hidden;
}

#exercicios div {
	text-align: center;
	margin-top: 20px;
}

#exercicios a {
	color: #616161;
}

.resultado {
	text-align: center;
}

#popupResul h3 {
	margin-top: 0;
}

.foto {
	color: #744EAA;
	font-weight: bold;
	text-decoration: underline;
}

.sumare {
	margin: 10px 0 30px;
}

.sumare img {
	height: 30px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#fotoerro {
    -webkit-filter: blur(5px);
    filter:blur(5px);
}